<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
<servlet-name>Unilog</servlet-name>
<servlet-class>com.benz.demo.Ulogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Unilog</servlet-name>
<url-pattern>/ulogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Ulog</servlet-name>
<servlet-class>com.benz.demo.UniLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Ulog</servlet-name>
<url-pattern>/ulog</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Indlog</servlet-name>
<servlet-class>com.benz.demo.Ilogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Indlog</servlet-name>
<url-pattern>/ilogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Ilog</servlet-name>
<servlet-class>com.benz.demo.IndLogin</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>Ilog</servlet-name>
<url-pattern>/ilog</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Auth1</servlet-name>
<servlet-class>com.benz.demo.AuthLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Auth1</servlet-name>
<url-pattern>/authlog</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Auth2</servlet-name>
<servlet-class>com.benz.demo.Auth2Login</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>Auth2</servlet-name>
<url-pattern>/auth2log</url-pattern>
</servlet-mapping>

</web-app>